<a href="https://colab.research.google.com/github/Adamasers/python/blob/main/%EA%B3%BC%EC%A0%9C5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
score = int(input("정보처리기능사 실기 점수 입력:"))

if score >= 60 :
  print("합격")
  print("축하합니다")
else:
    printf("불합격")

정보처리기능사 실기 점수 입력:70
합격
축하합니다

In [6]:
# 한줄 주석문 연습
"""
프로그래밍 수업 : 3월 20일
프로그래머 : 강인구
프로그램 최종 작성일 : 3월 20일
프로그램명 : 학점 계산 프로그램
"""
print("파이썬(3) : B0(5.0)\n")
print("모바일(2) : A0(4.0)\n")
print("엑셀(1) : A(4.5)")
python = float(input("파이썬 성적을 입력(예.3.5)"))
mobile = float(input("모바일 성적을 입력:"))
excel = float(input("엑셀 성적을 입력:"))

result = (python * 3) + (mobile * 2) + excel
avg = result / 6

print("평균 학점은", round(avg, 3))

파이썬(3) : B0(5.0)

모바일(2) : A0(4.0)

엑셀(1) : A(4.5)
파이썬 성적을 입력(예.3.5)4.0
모바일 성적을 입력:5.0
엑셀 성적을 입력:4.5
평균 학점은 4.417

In [7]:
print("\n줄바꿈\n연습")

줄바꿈
연습

In [14]:
len1 = len(input("첫번째 문자열이 ==>"))
len2 = len(input("두번째 문자열이 ==>"))
print("두 문자열의 길이 차이는", len1 - len2, "입니다")

첫번째 문자열이 ==>adf tue
두번째 문자열이 ==>re adr erta
두 문자열의 길이 차이는 -4 입니다

In [ ]:
str1 = """
안산공업고등학교 컴퓨터과, 안산공업고등학교는
기계과, 전기과, 전자과, 화공과, 디자인과, 컴퓨터과로 총 6개의
과로 이뤄져있습니다
"""
strLen = str1.count("안산")
print(strLen)

In [12]:
str1 = """
When I find myself in times of trouble, Mother Mary comes to me
Speaking words of wisdom, let it be
And in my hour of darkness she is standing right in front of me
Speaking words of wisdom, let it be
Let it be, let it be, let it be, let it be
Whisper words of wisdom, let it be
And when the broken hearted people living in the world agree
There will be an answer, let it be
For though they may be parted, there is still a chance that they will see
There will be an answer, let it be
Let it be, let it be, let it be, let it be
There will be an answer, let it be
Let it be, let it be, let it be, let it be
Whisper words of wisdom, let it be
Let it be, let it be, let it be, let it be
Whisper words of wisdom, let it be, be
And when the night is cloudy there is still a light that shines on me
Shinin' until tomorrow, let it be
I wake up to the sound of music, Mother Mary comes to me
Speaking words of wisdom, let it be
And let it be, let it be, let it be, let it be
Whisper words of wisdom, let it be
And let it be, let it be, let it be, let it be
Whisper words of wisdom, let it be
"""
stLen = str1.lower()
print(stLen.count("let it be"))

36