<a href="https://colab.research.google.com/github/Adamasers/python/blob/main/%EA%B3%BC%EC%A0%9C9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
for i in range(0,3,1):
  print("컴퓨터과 3학년 1반")

컴퓨터과 3학년 1반
컴퓨터과 3학년 1반
컴퓨터과 3학년 1반

In [5]:
for i in [0,1,2,3,4]:
  print("컴퓨터과 3학년 1반")

컴퓨터과 3학년 1반
컴퓨터과 3학년 1반
컴퓨터과 3학년 1반
컴퓨터과 3학년 1반
컴퓨터과 3학년 1반

In [7]:
for i in ["봄","여름", "가을", "겨울"]:
  print(i, "컴퓨터과 3학년 1반")

봄 컴퓨터과 3학년 1반
여름 컴퓨터과 3학년 1반
가을 컴퓨터과 3학년 1반
겨울 컴퓨터과 3학년 1반

In [9]:
for i in range(1, 11, 1):
  print(i, "컴퓨터과")

1 컴퓨터과
2 컴퓨터과
3 컴퓨터과
4 컴퓨터과
5 컴퓨터과
6 컴퓨터과
7 컴퓨터과
8 컴퓨터과
9 컴퓨터과
10 컴퓨터과

In [11]:
for i in range(2, 6, 1):
  print(i, end=" ")

2 3 4 5

In [13]:
n = 1
for i in range(1, 6, 1):
  n = n * i

print(n)

120

In [31]:
sum = 0
for i in range(1, 11,1):
  sum = sum +i
print(sum)

55

In [32]:
odd_sum = 0
for i in range(1001, 2001, 2):
  odd_sum = odd_sum + i
print(odd_sum)

750000

In [22]:
sum = 0
for i in range(1000, 2001, 1):
  if i%2 == 1:
    sum = sum + i
print(sum)

750000

In [28]:
sum, i = 0,0

for i in range(500, 1001, 2):
  sum = sum + i
print("500에서 1000까지의 합", sum)

500에서 1000까지의 합 188250

In [30]:
for i in range(3):
  for k in range(2):
    print("난생처음은 쉽습니다. ^^ (i값:", i,", k값:", k, ")")

난생처음은 쉽습니다. ^^ (i값: 0 , k값: 0 )
난생처음은 쉽습니다. ^^ (i값: 0 , k값: 1 )
난생처음은 쉽습니다. ^^ (i값: 1 , k값: 0 )
난생처음은 쉽습니다. ^^ (i값: 1 , k값: 1 )
난생처음은 쉽습니다. ^^ (i값: 2 , k값: 0 )
난생처음은 쉽습니다. ^^ (i값: 2 , k값: 1 )

In [47]:
for i in range(1, 10, 1):
  print(" ")
  for j in range(2, 10, 1):
    print(j, "x", j, "=", i * j, end = " ")

2 x 2 = 2 3 x 3 = 3 4 x 4 = 4 5 x 5 = 5 6 x 6 = 6 7 x 7 = 7 8 x 8 = 8 9 x 9 = 9
2 x 2 = 4 3 x 3 = 6 4 x 4 = 8 5 x 5 = 10 6 x 6 = 12 7 x 7 = 14 8 x 8 = 16 9 x 9 = 18
2 x 2 = 6 3 x 3 = 9 4 x 4 = 12 5 x 5 = 15 6 x 6 = 18 7 x 7 = 21 8 x 8 = 24 9 x 9 = 27
2 x 2 = 8 3 x 3 = 12 4 x 4 = 16 5 x 5 = 20 6 x 6 = 24 7 x 7 = 28 8 x 8 = 32 9 x 9 = 36
2 x 2 = 10 3 x 3 = 15 4 x 4 = 20 5 x 5 = 25 6 x 6 = 30 7 x 7 = 35 8 x 8 = 40 9 x 9 = 45
2 x 2 = 12 3 x 3 = 18 4 x 4 = 24 5 x 5 = 30 6 x 6 = 36 7 x 7 = 42 8 x 8 = 48 9 x 9 = 54
2 x 2 = 14 3 x 3 = 21 4 x 4 = 28 5 x 5 = 35 6 x 6 = 42 7 x 7 = 49 8 x 8 = 56 9 x 9 = 63
2 x 2 = 16 3 x 3 = 24 4 x 4 = 32 5 x 5 = 40 6 x 6 = 48 7 x 7 = 56 8 x 8 = 64 9 x 9 = 72
2 x 2 = 18 3 x 3 = 27 4 x 4 = 36 5 x 5 = 45 6 x 6 = 54 7 x 7 = 63 8 x 8 = 72 9 x 9 = 81

In [48]:
i = 0
while(i<3):
  print(i, "컴퓨터과 3학년 1반")
  i = i + 1

0 컴퓨터과 3학년 1반
1 컴퓨터과 3학년 1반
2 컴퓨터과 3학년 1반

In [63]:
i =
while True :
  print("ㅎ", end = " ")
  i = i + 1
  if i == 10:
    break

ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ